body{
    background-color: rgba(239, 231, 231, 0.907);
    color: rgb(0, 0, 0);
    font-family: Ariel, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

#main-header{
    text-align: center;
    background-color: rgb(174, 2, 2);
    color: black;   

}

#main-header h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 1em;
    margin: 8px 0;
    mar
}

#navbar{
    background-color: (239, 231, 231, 0.907);
    text-decoration: none;
    text-align: center;
}

#navbar ul{
    padding: 0;
    list-style: none;
}

#navbar li{
    display: inline;
}
#navbar a{
    color: black;
    font-size: 1.5em;
    padding: 1px;
}

#showcase{
    background-image: url('../images/gurren3.jpeg');
    background-position: center center;
    min-height: 300px;
    position: relative;
    margin: 0 0 10 0;
}

#showcase h2{
    color: white;
    font-size: 2.1em;
    font-style: italic;
    text-align: center;
    line-height: 1.2em;
    padding-bottom: 30px;
    font-family: fantasy;
}

#main{
    float: left;
    width: 70%;
    box-sizing: border-box;
}

#sidebar{
    float: right;
    box-sizing: border-box;
    background-color: black;
    color: white;
    width: 30%;
    padding: 15px;
    margin-top: 10px;
}

#main-footer{
    background: black;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
    padding: 20px;
}

table {
    height: 40%;
    left: 10%;
    margin: 20px auto;
    overflow-y: scroll;
    position: static;
    width: 80%;
  }
  
  thead th {
    background: rgb(174, 2, 2);
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    text-transform: uppercase;
  }
  
  tr {
    background: rgba(239, 231, 231, 0.907);
    border-bottom: 1px solid rgba(239, 231, 231, 0.907);
    margin-bottom: 5px;
  }
  
  th, td {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    padding: 20px;
    text-align: left;
    width: 33.3333%;
    font-size: 18px;
  }

a:visited { 
    text-decoration: none; 
    color: blue; 
   }

a:hover {
    color: red;
}

@media(max-width: 600px){
	#main{
		width: 100%;
		float: none;
	}

	#sidebar{
		width: 100%;
		float: none;
	}
}